<nav class="{{componentCssClassName}}__nav">
  <h1 class="logo">Urbn Trending</h1>
  <form class="search-form">
    <input class="search-form__input" type="text" placeholder="Category"/>
    <input class="search-form__input" type="text" placeholder="Location"/>
    <input class="search-form__input" type="text" placeholder="Distance"/>
    <button class="search-form__button" type="submit">Go</button>
  </form>
</nav>
